Dataset_RecipeQA/RecipeQA_dataset/images
Dataset_RecipeQA/RecipeQA_dataset/recipes
Dataset_RecipeQA/RecipeQA_Dataset.zip
Dataset_RecipeQA/RecipeQA_dataset/train_recipeqa.json
Dataset_RecipeQA/RecipeQA_dataset/merged_dataset.json
distilbert_recipeqa_optuna_large_new
!distilbert_recipeqa_optuna_large_new/final_model_trainer
!distilbert_recipeqa_optuna_large_new/best_params.json
!distilbert_recipeqa_optuna_large_new/config.json
!distilbert_recipeqa_optuna_large_new/model.safetensors
!distilbert_recipeqa_optuna_large_new/special_tokens_map.json
!distilbert_recipeqa_optuna_large_new/tokenizer_config.json
!distilbert_recipeqa_optuna_large_new/vocab.txt
roberta_model_optuna 
distilbert_recipeqa_optuna_large_new/model.safetensors
distilbert_recipeqa_final_model/model.safetensors